*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background: radial-gradient(rgb(184, 183, 168), rgb(0, 132, 255));
}

#box{
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   width: 200px;
   height: 600px;
   background: rgb(51, 51, 51);
}

#roundOne{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background-color: rgb(114, 37, 37);
   /* transition: 1s; */
}
#roundTwo{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background-color: rgb(112, 112, 49);
   /* transition: 1s; */
}
#roundThree{
   width: 180px;
   height: 180px;
   border-radius: 50%;
   background-color: rgb(29, 73, 29);
   /* transition: 1s; */
}